body {
    background-color: hsla(291,29%,57%,1);
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: hsla(291,29%,57%,1);
}

.content > div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    color:  hsla(291,29%,57%,1);
    font-size: 30pt;
}

.content > div > span {
    background-color:white;
    padding: 20px;
    border-radius:100px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.btn {
    border-radius: 100px;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    color:  white;
    margin: 10px;
    height: 10%;
    width: 80%;
    box-shadow: 0px 0px 10px hsla(0,0%,100%,0.1);
    font-size:30pt;
}

.btn:hover {
    color: white;
    background-color: hsla(0,0%,100%,0.5);
}