.contents {
    transition: background-color 1s;
}

.vote-results-strip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.vote-results-strip > div {
    font-size: 20px;
}

.vote-results-strip > div {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: hsla(0,0%,100%,1);
    transition: opacity 1s;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.2);
}

.vote-results-strip > div > span {

}

.glyphicon {
    background-color: white;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    font-size: 30px;
}

.selected {
    border-bottom: 5px solid black;
}